video#bgcontainer {
  transform: rotate3d(0,180,0,180deg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cs-clear .content-section, .cs-black .content-section, .cs-black .content-section, .nav-bar.non.nepas.taskbarlike {
  backdrop-filter: blur(36px) url(#crystal-distortion) !important;
  -webkit-backdrop-filter: blur(36px) !important;
}
